#biomech_pitching_poi_metrics.csv
#sample_poi_metrics
nn_data.csv
nn_features.csv
nn_labels.csv
gpu.ipynb
__pycache__/neural_net.cpython-311.pyc
X_test_scaled.csv
X_val_scaled.csv
X_train_scaled.csv
y_test.csv
y_train.csv
y_val.csv
db.txt
deeplearning/__pycache__/neural_net.cpython-311.pyc
dashboards/sample_poi_metrics.csv
deeplearning/__pycache__/optuna.cpython-311.pyc
best_model.pth
deeplearning/__pycache__/lime.cpython-311.pyc
